<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804403366225-iop2sj0t8p35jbm9qadn1j6kd87h0cr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804403366225-iop2sj0t8p35jbm9qadn1j6kd87h0cr2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804403366225-nhh9c59mi4et4ht87qabbi1dtabaa5if.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMbAhgEUgG-01Mb2YJY83erCwRvbVrVwE</string>
	<key>GCM_SENDER_ID</key>
	<string>804403366225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.essemfly.handover</string>
	<key>PROJECT_ID</key>
	<string>handover-app-seokmin</string>
	<key>STORAGE_BUCKET</key>
	<string>handover-app-seokmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804403366225:ios:95c35e7d7b383d4359eb70</string>
</dict>
</plist>